/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.main {
     padding-top:48px;
     min-height: 600px;
}

body, h1 {
     color: #2f3237
}

body {
     font-size: 16px;
}
 
button:focus {outline:0;}

ul {
    list-style: none;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-small {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}

.center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.height-100 {
    height: 100%;
}

.width-100 {
    width: 100%;
}


.button-secondary {
    border: 1px solid #d5d3d1;
    padding: .1rem .5rem .2rem;
    font-family: BrandonText-Regular, sans-serif;
    font-size: .9375rem;
    cursor: pointer;
    background-color: white;
    color: black;
}

.button-secondary:hover {
    border: 1px solid black;
    text-decoration: none;
}
.button-primary {
    line-height: 32px;
    padding: .4rem 1.75rem;
    font-size: 1.125rem;
    letter-spacing: .8px;
    display: inline-block;
    text-align: center;
    background-color: #f05d61;
    box-sizing: border-box;
    font-weight: 400;
    font-family: BrandonText-Medium,sans-serif;
    color: white;
    border: 0px;
    transition: 0.3s;
    cursor: pointer;
}

.button-primary:hover {
    background-color:  #f33b41;
    text-decoration: none;
}

.button-tertiary {
    color: #f05d61;
    border: 1px solid #f05d61;
    line-height: 32px;
    padding: .4rem 1.75rem;
    font-size: 1.125rem;
    margin: 0;
    background-color: #fff;
    cursor: pointer;
    font-family: BrandonText-Regular, sans-serif;
    font-size: 18px;
    cursor: pointer;
}

.button-tertiary:hover {
    border: blueviolet 1px solid;
    text-decoration: none;
}

.jumbo {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 600px;
    background-color: #f8f7f6;
    display: flex;
    flex-direction: column;
}

.jumbo.jumbo-2 {
    height: 780px;
    background-color: white;
}

.standard-padding {
    padding: 24px;
}

.circle {
    background: #ECEBEB;
    border-radius: 50%;
    width: 84px;
    height: 84px;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}