.footer {
    height: 470px;
    width: 1170;
    border-bottom: 2px solid #e8e8e8;;
    border-top: 2px solid #e8e8e8;;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-2 {
    padding: 15px;
}

.footer-title {
    font-size: 40px;
    font-family: serif;
    font-weight: normal;
    padding-bottom: 40px;
}