.intro-wrapper {
    padding: 54px;
}

.intro-title > h2 {
    margin-bottom: 24px;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: normal;
    color:#2f3237
}

.intro-label {
    padding: 16px;
    color:#2f3237
}

.radio-wrapper {
    text-align: center;
    margin-bottom: 1.5rem;
    display: flex;
    position: relative;
}

.radio-wrapper:before {
    content: "";
    position: absolute;
    height: 2px;
    background: #cecece;
    width: 100%;
    left: 50%;
    top: calc(.5rem + 1px);
    transform: translateX(-50%);
}

.radio-button {
    cursor: pointer;
    position: relative;
    width: 100%;
    border: 0;
    background: none;
    margin-bottom: 16px;
}

.radio-button:before {
    content: "";
    background: #fff;
    border: 2px solid #cecece;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: block;
    z-index: 1;
    margin: 0 auto;
}

.radio-button:checked:before {
    animation-fill-mode: forwards;
    background-color: #1695a3;
    border-color: #1695a3;
    transform: scale(1.3);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 120%;
    animation: cubic-bezier(0.25, 0.1, 0.25, 1.0);
}

.intro-questions {
    max-width: 26rem;
    width: 100%
}

