.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: BrandonText-Regular,stitch-fix-icon-font,sans-serif;
    font-size: .9375rem;
    z-index: 10;
    transition: transform .5s ease;
    border-bottom: 1px solid;
    border-color: #d5d3d1;
    color: #2f3237;
    background: #fff;
}

.nav {
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-links > a {
    padding-right: 10px;
    font-size: 15px;
    font-family: BrandonText-Regular, sans-serif;
    margin: 0 .875rem;
}

.nav-links > a:first-child{
    font-size: 17px;
    font-family: BrandonText-Regular, serif;
}

.nav-links > a:first-child:hover {
    text-decoration: none;
}