.nav {
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-links > a {
    padding-right: 10px;
    font-size: 15px;
    font-family: BrandonText-Regular, sans-serif;
    
}

.nav-links > a:first-child{
    font-size: 17px;
    font-family: BrandonText-Regular, serif;
}